<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../index_html.css">

  <title>Shotegories: Page not found</title>
</head>
<body style="display: block;">
  <h1 class="header">
    🍸<a href="/">Shotegories</a>🍸
  </h1>

  <div class="not-found">
    <h2>Error code 404</h2>
    <p>Page not found</p>

    <div class="links">
      <a href="/">Return to home</a>
      <a href="/api">Go to API endpoint</a>
    </div>
  </div>
</body>
</html>
