<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="https://em-content.zobj.net/source/apple/391/cocktail-glass_1f378.png" type="image/png">

  <link rel="stylesheet" href="../index_html.css">

  <title>Shotegories</title>
</head>
<body>
  <h1 class="header">🍸Shotegories🍸</h1>

  <div class="results-wrapper">
    <div class="results" id="category">
      <h2>Category</h2>
      <p></p>
    </div>

    <div class="results" id="letter">
      <h2>Letter</h2>
      <p></p>
    </div>
  </div>

  <form onsubmit="newCategory(event)">
    <label for="withLetter">With Letter?</label>
    <input name="withLetter" type="checkbox">

    <button type="submit">Again!</button>
  </form>
  
  <footer>
    <div>
      <p>Created by <a href="https://graesberg.com" target="_blank">Henry Græsberg</a></p>
      <p><a href="https://git.graesberg.com/Shotegories" target="_blank">Source code</a></p>
    </div>
    <div>
      <p>Use the API yourself with <a href="https://shotegories.glitch.me/api" target="_blank">https://shotegories.glitch.me/api</a></p>
      <p>Documentation can be found in the <a href="https://github.com/henrygraesberg/Shotegories/blob/main/README.md#using-the-api" target="_blank">Readme on Github</a></p>
    </div>
  </footer>

  <script src="../index_html.js" defer></script>
</body>
</html>
